/*  Base css and default color and property definitions */

:root {
  --line-thickness: 0.1rem;
  --border-rad: .5rem;
  --padding-std: .3rem;

  --main-color: rgb(117, 211, 255);
  --contrast-color: #ffd077;
  --background-color: black;
  --background-color2: #373737;
  --line-color: #808080;
  --font-color: white;
  --mui-blue: rgb(25, 118, 210);
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: var(--font-color);
  background-color: var(--background-color);
  text-align: center;
}

header {
  font-size: x-large;
  font-weight: 100;
  background-color: var(--mui-blue);
  border-bottom: var(--line-thickness) solid var(--line-color);
  margin-bottom: var(--padding-std);
}

header > h1 > span {
  font-size: 2rem;
  font-style: italic;
}


